 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <title>Bazar List</title>
<style>
    .content {
      padding-top: 10%;
    }
  </style>
</head>

<body>

	<div id="app" class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 content">
        
        <h3 class="text-center">Bazar List</h3>
        
       
        
       

        <form @submit.prevent="addItem">
          <input class="form-control" v-model="newItem">
        </form>
         <hr> 
        <ul class="list-group">
          <li v-for="(item, index) in items" :key="index" class="list-group-item">
            <button class="btn btn-xs btn-danger" @click="removeItem(index)">
              remove
            </button>
            {{ item.name }} -- <input class="pull-right text-right" style="width:50%" v-model="item.price">
            
          </li>

          <li class="list-group-item"> 
            <h4> Total  <span class="pull-right">{{ total }}</span></h4> 
          </li>
          
        </ul>
      </div>
    </div>
  </div>	
	

	<script>
       
       new Vue({

         el:'#app',

         data:{
          'items':[

              { name:'rice', price:'50.00'},
              { name:'dal', price:'100.00'},
              { name:'tel', price:'110.00'}

          ],
          newItem:''
         },

         computed:{
            total(){

              var total = 0 

              this.items.forEach(item =>{
                total = total += parseFloat(item.price)
              })

              return total
            }
         },

         methods:{

           addItem(){
            this.items.push({
              name:this.newItem,
              price:0.0
            })
            this.newItem = ''
           },

          removeItem(index){
              this.items.splice(index,1)
           }

         },




       })

  </script>		




</body>

</html> 
